#root {
  margin: 0;
  text-align: center;
}
.dropcap {
  float: left;
  font-weight: 900;
  font-size: 4rem;                      /* adjust */
  line-height: 0.8;
  padding-left: -0.05em;
  padding-right: 0em;
  margin-left:-0.1em;
  padding-top: 0.01em;
  color:#204281;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.scrolly{
  margin: auto;
  max-width: 1280px;
}
.scrolly-narrative{
  margin-top: -80vh;
  justify-items: left;
}
.scrolly-narrative.center{
  justify-items: center;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width:100%;
  height:100vh
}
.scroll-box{
  width: 320px;
  background-color: rgba(255, 255, 255, 0.904);
  color: rgb(86, 85, 94);
  text-align:left;
  padding: 0 1em;
  border: 2px solid rgb(172, 172, 172);
  margin: 75vh 0;
  z-index: 10;
  position: relative;
}
.scroll-box.active{
  box-shadow: 0 4px 16px #3a3a3a73;
}
#throwaway{
  opacity: 0;
  width: 0;

}

.highlight{
    background-color: #446db8;
    border-radius: 5px;
    padding: 0px 5px;
    color:aliceblue;
    display: inline-block;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@media (max-width:375px){
  .scroll-box{
  width: 70vw;
}
}