@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
body, p {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
} 
h2{
  font-size: 45px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: #204281;
}
body {
  margin: 0;
  min-height: 100vh;
}
